/* LoyKrathong.css */

body {
  background-color: rgb(14, 19, 29);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.main {
  position: relative;
  max-height: 100vh;
  width: 100%;
  z-index: 1;
}

.krathong-container {
  position: absolute;
  bottom: -100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

 

.krathong-image {
  width: 120px;
  height: auto;
}

 
.krathong-text{  
  width: 150px;
  overflow: hidden;

  font-family: "Kanit";
  text-align: center; 
  margin-bottom: 0px;
  color: rgba(61, 56, 56, 0.8);
  width: 150px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 5px 5px rgba(238, 220, 60, 0.253);
  padding: 7px;
  border-radius: 12px;
  justify-items: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

/* Keyframe for floating effect */
@keyframes floatUp {
  0% {
    transform: translateY(100vh) scale(1);
    opacity: 1;
  }
  25% {
    transform: translateY(60vh) scale(0.8);
    opacity: 0.8;
  }
  50% {
    transform: translateY(30vh) scale(0.6);
    opacity: 0.6;
  }
  75% {
    transform: translateY(10vh) scale(0.4);
    opacity: 0.4;
  }
  100% {
    transform: translateY(-10vh) scale(0.2);
    opacity: 0;
  }
}


